name: test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go:
          - "1.25"
          - "1.26"
    name: Build
    runs-on: ubuntu-latest

    services:
      rabbitmq:
        image: rabbitmq:4-management
        ports:
          - 5672:5672
        options: >-
          --health-cmd "rabbitmq-diagnostics -q ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Build & Test
        run: |
          go test -v -race ./...
